BT_GAIN_MULTIPLIER=0,707946
PLAYBACK_TARGET=SA9226 192KHz audio controller Analog Stereo
LAST_TRACK_DIR=/home/rob/Guitar/QJam recordings
RECORDINGS_DIR=/home/rob/Guitar/QJam recordings
WINDOW_WIDTH=1720
WINDOW_HEIGHT=1131
VIDEO_PREVIEW_WIDTH=676
VIDEO_PREVIEW_HEIGHT=380
VIDEO_DEVICE=/dev/video0
AUDIO_DEVICE=SA9226 192KHz audio controller Analog Stereo
LOOPER_BLANK_CANVAS=0
LOOPER_MODE_ACTIVE=1
FREESTYLE_DURATION_MIN=15
LOOPER_DURATION_MIN=10
INPUT_GAIN_Quad Cortex Pro=1,584893
INPUT_GAIN_Logitech Webcam C925e Analog Stereo=0,562341
